<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PV/UV/流量</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <span>图表展示</span>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    访问PV/UV统计
                    <div class="layui-btn-group layuiadmin-btn-group">
                        <select id="pvuv" class="layui-btn layui-btn-primary layui-btn-xs">
                            <option value="0">今日</option>
                            <option value="1">昨天</option>
                            <option value="7">最近一周</option>
                            <option value="15">最近15天</option>
                            <option value="30">最近一个月</option>
                        </select>
                    </div>
                </div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-normline">
                        <div carousel-item id="LAY-index-normline">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">
                    流入流出流量统计
                    <div class="layui-btn-group layuiadmin-btn-group">
                        <select id="flux" class="layui-btn layui-btn-primary layui-btn-xs">
                            <option value="0">今日</option>
                            <option value="1">昨天</option>
                            <option value="7">最近一周</option>
                            <option value="15">最近15天</option>
                            <option value="30">最近一个月</option>
                        </select>
                    </div>
                </div>
                <div class="layui-card-body">

                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-area">
                        <div carousel-item id="LAY-index-area">
                            <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'pul']);
</script>
</body>
</html>