<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>我的医生</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../static/layuiadmin/style/custom.css" media="all">
    <link rel="stylesheet" href="../../static/layuiadmin/style/template.css" media="all">
    <link rel="stylesheet" href="../../static/layuiadmin/style/im.css" media="all">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_935338_lfgq8aymqln.css">
</head>
<body>

<style>
    #quanbuqiuzhu {
        line-height: 30px;
        margin-left: 10px;
    }
    #quanbuqiuzhu li a {
        color: #01AAED;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header" style="color: #393D49;">【我的求助】</div>
                <div class="layui-card-body layui-row layui-col-space10 layui-form">
                    <input name="userid" value="{{ request.user.id }}" hidden>
                    <div class="layui-col-md12">
                        <textarea id="textarea" name="textarea" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea>
                    </div>
                    <div class="layui-col-md12" style="text-align: center;">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="qiuzhu">点击求助</button>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header" style="color: #393D49;">【医生们】</div>
                <div class="layui-card-body layui-fluid layadmin-maillist-fluid">
                    <div class="layui-row layui-col-space10">
                        {% for alld in alldoctors %}
                        <div class="layui-col-md6 layui-col-sm6">
                            <div class="layadmin-contact-box">
                                <a href="javascript:;" onclick="get_doctorAndPingjia('{{ alld.doctorId }}')">
                                    <div class="layui-col-md4 layui-col-sm6">
                                        <div class="layadmin-text-center">
                                            <img src="{{ alld.doctorheader }}">
                                            <div class="layadmin-maillist-img layadmin-font-blod">
                                                {{ alld.positionalTitle }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                                        <h3 class="layadmin-title">
                                            <strong>{{ alld.doctorname }}</strong>
                                            ({{ alld.sex }})
                                        </h3>
                                        <p class="layadmin-textimg">
                                            <i class="layui-icon layui-icon-location"></i>
                                            {{ alld.quiz1 }}
                                        </p>
                                        <div class="layadmin-address">
                                            <strong>科室：</strong>{{ alld.quiz2 }}
                                            <br>
                                            <strong>E-mail：</strong>{{ alld.doctoremail }}
                                            <br>
                                            <strong>手机：</strong>{{ alld.phone }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header" style="color: #393D49;">【我的全部求助】</div>
                <div class="layui-card-body">
                    <ul id="quanbuqiuzhu">
                        {% for qiuzhu in allQiuzhu reversed %}
                        <li>
                            <a href="javascript:;" onclick="get_qiuzhu('{{ qiuzhu.qiuzhuId }}')">
                                <i class="iconfont layui-extend-iconfontzhizuobiaozhun47"></i>
                                {{ qiuzhu.content }}
                                <span style="float: right;">{{ qiuzhu.createTime }}</span>
                            </a>
                        </li>
                        {% empty %}
                        <center>没有求助</center>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<div id="hiddenmine" hidden>{{ result }}</div>
<div id="hiddenfriends" hidden>{{ friends }}</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'doctorim', 'form'], function () {

        var $ = layui.$,
            admin = layui.admin,
            element = layui.element,
            form = layui.form;

        window.get_qiuzhu = function(id) {
            var xx = layer.open({
                type: 2,
                title: '我的求助',
                content: '/doctor/getQiuzhu?qiuzhuId=' + id,
                maxmin: true,
                area: ['500px', '450px'],
                btn: ['确定'],
                yes: function (index, layero) {
                    layer.close(index);
                }
            });
            // layer.full(xx);
        };

        window.get_doctorAndPingjia = function(doctorId) {
            layer.open({
                type: 2,
                title: '医生信息',
                content: '/doctor/getDoctorAndPingjia?doctorId=' + doctorId,
                maxmin: true,
                area: ['500px', '450px'],
                btn: ['确定'],
                yes: function (index, layero) {
                    layer.close(index);
                }
            });
        };

        //监听提交
        form.on('submit(qiuzhu)', function(data){
            // layer.msg(JSON.stringify(data.field));
            $.ajax({
                url: '/views/myDoctor/getMyRate?userId=' + data.field.userid,
                success: function (data1) {
                    if (data1.code === 0) {
                        layer.confirm(data1.msg, {icon: 3, title:'提示'}, function(index1){
                            var csrfToken = $("[name='csrfmiddlewaretoken']").val();
                            var index = layer.load(2);
                            data.field.fen = data1.fen;
                            $.ajax({
                                headers: {"X-CSRFToken": csrfToken},
                                url: '/views/myDoctor/setHelper/',
                                data: data.field,
                                type: 'post',
                                success: function (data) {
                                    if (data.code === 0) {
                                        layer.msg(data.msg, function () {
                                            $("#textarea").val('');
                                            window.location.reload();
                                        });
                                    } else {
                                        layer.msg(data.msg);
                                    }
                                    layer.close(index);
                                },
                                error: function (data) {
                                    layer.close(index);
                                    layer.msg("无法求助，请稍后再试");
                                }
                            });
                            layer.close(index1);
                        });
                    } else if (data1.code === 200) {
                        layer.confirm(data1.msg, {icon: 2, title:'提示'}, function(index1){
                            top.layui.index.openTabsPage('views/myRate?userId=' + data.field.userid, "我的积分");
                            layer.close(index1);
                        });
                    } else {
                        layer.msg(data1.msg);
                    }
                },
                error: function (data) {
                    layer.msg("未知错误，请稍后再试");
                }
            });
            return false;
        });
    });
</script>
</body>
</html>