<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>问诊咨询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_935338_lfgq8aymqln.css">
</head>

<style>
    .layui-text-top a{
        color: #FFFFFF;
    }
    .layui-text-top a:hover{
        color: #FFFF00;
    }
    #quanbuqiuzhu {
        line-height: 30px;
        margin-left: 10px;
    }
    #quanbuqiuzhu li a {
        color: #01AAED;
    }
</style>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-xs12 layui-col-sm3">
                        <div class="layuiadmin-card-text layui-bg-blue">
                            <div class="layui-text-top">
                                <i class="layui-icon layui-icon-dialogue" style="font-size: 32px; color: #ffffff;"></i>
                                <a href="javascript:;">
                                    <span style="font-size: 18px;">我的评价</span><span>({{ pingjiaNum }}条)</span>
                                </a>
                            </div>
                            <hr/>
                            <p class="layui-text-bottom">
                                <ul style="margin-left: 18px;">
                                    {% for pj in myPingjia %}
                                    <li style="list-style: disc;">{{ pj.text }}</li>
                                    {% empty %}
                                        <div style="margin-left: -25px; height: 48px;"><center>没有评价</center></div>
                                    {% endfor %}
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm3">
                        <div class="layuiadmin-card-text layui-bg-cyan">
                            <div class="layui-text-top">
                                <i class="layui-icon layui-icon-rate-half" style="font-size: 32px; color: #ffffff;"></i>
                                <a href="javascript:;">
                                    <span style="font-size: 18px;">我的积分</span><span>({{ myRate }})</span>
                                </a>
                            </div>
                            <hr/>
                            <p class="layui-text-bottom">
                                说明：积分可通过回答讨论区问题以及一对一解决患者疑难等获取
                            </p>
                        </div>
                    </div>
                    <div class="layui-col-sm6 layui-col-xs12">
                        <div class="layui-card layui-bg-green">
                            <div class="layui-card-header">
                                <span style="color: #ffffff;">正在求助</span>
                                <span style="color: #FFFF00">&nbsp;&nbsp;&nbsp;乐于助人，快乐自己</span>
                                <a href="javascript:;" onclick="get_allQiuzhu()" class="layui-a-tips" style="color: #ffffff;">全部求助</a>
                            </div>
                            <div class="layui-card-body layuiadmin-card-list">
                                <ul class="layui-col-space8" style="margin-left: 20px;">
                                    {% for qiuzhu in bufenQiuzhu reversed %}
                                    <li style="list-style: disc;">
                                        <a href="javascript:;" onclick="get_qiuzhu1('{{ qiuzhu.qiuzhuId }}', '{{ result.doctorId }}')" style="color: #ffffff;">
                                            <span>{{ qiuzhu.content }}</span>
                                            <span style="float: right;">{{ qiuzhu.createTime }}</span>
                                        </a>
                                    </li>
                                    {% empty %}
                                    <div style="margin-left: -30px; height: 86px;"><center>没有求助</center></div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="layui-card layui-bg-gray">
                    <div class="layui-card-header">
                        我的帮助
                    </div>
                    <div class="layui-card-body">
                        <ul class="layui-col-space10">
                            {% for maqiuzhu in myAnswerQiuzhu reversed %}
                            <li>
                                <a href="javascript:;" onclick="get_qiuzhu1('{{ maqiuzhu.qiuzhuId }}', '{{ result.doctorId }}')">
                                    <img src="{{ result.doctorheader }}" class="layui-nav-img">
                                    <span>{{ maqiuzhu.content }}</span>
                                    <span style="float: right;">{{ maqiuzhu.createTime }}</span>
                                </a>
                            </li>
                            {% empty %}
                            <center>暂无回答</center>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="allQiuzhu" hidden>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-card">
                <div class="layui-card-header" style="color: #393D49;">【全部求助】</div>
                <div class="layui-card-body">
                    <ul id="quanbuqiuzhu">
                        {% for qiuzhu in allQiuzhu reversed %}
                        <li style="clear:both;">
                            <a href="javascript:;" onclick="get_qiuzhu1('{{ qiuzhu.qiuzhuId }}', '{{ result.doctorId }}')">
                                <div>
                                    <i class="iconfont layui-extend-iconfontzhizuobiaozhun47"></i>
                                    {{ qiuzhu.content }}
                                </div>
                                <div style="float: right; color: #3F3F3F;">{{ qiuzhu.createTime }}</div>
                            </a>
                        </li>
                        {% empty %}
                        <center>没有求助</center>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hiddenmine" hidden>{{ mine }}</div>
<div id="hiddenfriends" hidden>{{ friends }}</div>
<script src="../../static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'doctorim', 'form'], function () {

        var $ = layui.$,
            admin = layui.admin,
            element = layui.element,
            form = layui.form,
            router = layui.router();

        element.render();

        window.get_qiuzhu1 = function(qiuzhuId, doctorId) {
            var xx = layer.open({
                type: 2,
                title: '求助信息',
                content: '/doctor/getQiuzhu1?qiuzhuId=' + qiuzhuId + '&doctorId=' + doctorId,
                maxmin: true,
                area: ['500px', '450px'],
                btn: ['确定'],
                yes: function (index, layero) {
                    layer.close(index);
                }
            });
            layer.full(xx);
        };

        window.get_allQiuzhu = function () {
            admin.popupRight({
                id: 'LAY_adminPopupLayerTest'
                ,success: function(){
                    $('#'+ this.id).html($("#allQiuzhu").html());
                    //admin.view(this.id).render('system/xxx')
                }
            });
        }
    });
</script>
</body>
</html>